*{
    margin: 0;
    padding: 0;
}
#app-root{
display: flex;
flex-direction: column;
align-items: center;
}
.divradio,
.divselect{
    display: flex;
    margin: 10px;

}
.radioparent,
#select{
    display: flex;
    flex-direction: column;
    
}
.radioparent,
#select{margin-left: 10px;}
#hideValuesOnSelect {
    display: none;
 }