$backgroundImage: '../img/m-h-day.jpg';
$headerFont: 'Source Sans Pro', sans-serif;
$textFont: 'Hind', sans-serif;
$fontColor: #2c2f3c;
$buttonColor: #699900;
$contentBackground: #ffffff;
$contentFontColor: #d1d1d1;
$textBackgroundColor: #14a0c7;
$cardColor: #21232e;
$gradientFirstColor: #65950c;
$gradientLastColor: #3260c8;
$font-weights: ("light-header": 600, "bold-header":700, "text": normal);
