$backgroundImage: '../img/m-h-night.jpg';
$headerFont: 'Source Sans Pro', sans-serif;
$textFont: 'Fresca', sans-serif;
$fontColor: white;
$buttonColor: #e3ac00;
$contentBackground: #21232e;
$textBackgroundColor: #ff4e33;
$contentFontColor: #d1d1d1;
$cardColor: #3b3f50;
$gradientFirstColor: #dea405;
$gradientLastColor: #942e51;
$font-weights: ("light-header": 600, "bold-header":700, "text": normal);
