*{
    font-family: 'Roboto', sans-serif;
}
.btn-coral{
    background-color: coral;
    color:white;
}
.text-white{
    color:white;
}
.bg-dark{
   background-color:  #525252;

}
.bg-light-grey{
    background-color:#F8F9FA ;
}